<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mohave&display=swap" rel="stylesheet">
  <script src = "sos-data-grab.js"></script>
  <script src = "overlay-controller.js"></script>
  <link rel = "stylesheet" href = "styles.css"></link>
</head>
<body>
  <div id = "scorebar">
    <div class = "endcap blue" id = "endcap-blue"></div>
    <div id = "blue-data" class = "scoreboard-data">
      <p id = "blue-name">Johnston CC</p>
      <h1 id = "blue-score">0</h1>
    </div>
    <div class = "ss-container" id = "blue-ss"></div>
    <div id = "time">
      <p>5:00</p>
    </div>
    <div class = "ss-container" id = "orange-ss"></div>
    <div id = "orange-data" class = "scoreboard-data">
      <p id = "orange-name">Some other School</p>
      <h1 id = "orange-score">0</h1>
    </div>
    <div class = "endcap orange" id = "endcap-orange"></div>
  </div>

  <div id = "player-info">

  </div>
  <div id = "boost-meter">
    <canvas id = "boost-circle"></canvas>
    <h1 id = "boost-text">100</h1>
  </div>

  <div id = "player-stats">
    <div id = "ps-header">
      <h1 id = "playername">pancake423</h1>
    </div>
    <div id = "statbox">
      <div class = "stat-container">
        <p>goals</p>
        <h1 id = "stat-goals">0</h1>
      </div>
      <div class = "stat-container">
        <p>assists</p>
        <h1 id = "stat-assists">0</h1>
      </div>
      <div class = "stat-container">
        <p>saves</p>
        <h1 id = "stat-saves">0</h1>
      </div>
      <div class = "stat-container">
        <p>shots</p>
        <h1 id = "stat-shots">0</h1>
      </div>
    </div>
  </div>
  <div id = "stat-endcap"></div>
  <h1 id = "test"></h1>
</body>
