:root {
  --display-width: 1920px;
  --display-height: 1080px;
  --scorebar-height: 100px;
  --scorebar-data-width: 300px;
  --scorebar-time-width: 100px;
  --blue-color: blue;
  --orange-color: orange;
  --empty-color: rgba(100, 100, 100, 0.5);
  --boost-meter-size: 200px;
  --statbox-width: 400px;
}
body {
  margin: 0;
  overflow: hidden;
  width: var(--display-width);
  height: var(--display-height);
  background-color: "rgba(0,0,0,0)";
  font-family: 'Mohave', sans-serif;
  font-size: 20px;
}
p {
  margin: 0;
}
h1 {
  margin: 0;
}

#scorebar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  height: var(--scorebar-height);
  color: white;
  text-align: center;
  border-radius: 0px 0px 15px 15px;
  box-shadow: 5px 5px 5px black;
  margin-left: 300px;
  transition: transform 0.5s;
}
#time {
  width: var(--scorebar-time-width);
  height: var(--scorebar-height);
  line-height: var(--scorebar-height);
  font-size: calc(var(--scorebar-time-width) / 4);
  background-color: rgba(0,0,0,0.5);
}
#endcap-blue {
  border-radius: 0px 0px 0px 10px;
}
#endcap-orange {
  border-radius: 0px 0px 10px 0px;
}

#boost-meter {
  position: absolute;
  right: 50px;
  bottom: 50px;
  width: var(--boost-meter-size);
  height: var(--boost-meter-size);
  transition: transform 0.5s;
}
#boost-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border-radius: calc(var(--boost-meter-size) / 2);
  box-shadow: 5px 5px 5px black;
}
#boost-text {
  text-align: center;
  line-height: var(--boost-meter-size);
  color: white;
}
#player-stats {
  position: absolute;
  left: 50;
  bottom: 50;
  width: var(--statbox-width);
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border-radius: 10px 0px 0px 10px;
  box-shadow: 5px 5px 5px black;
  transition: transform 0.5s;
}
#statbox {
  display: flex;
  justify-content: space-around;
}
#ps-header {
  background-color: rgba(0,0,0,0.5);
  border-radius: 10px 0px 0px 0px;
}
#stat-endcap {
  position: absolute;
  left: 445;
  bottom: 50px;
  width: 25px;
  height: 140px;
  background-color: var(--blue-color);
  border-radius: 0px 10px 10px 0px;
  box-shadow: 5px 5px 5px black;
  transition: transform 0.5s;
}

.scoreboard-data {
  width: var(--scorebar-data-width);
}
.endcap {
  width: 25px;
  height: var(--scorebar-height);
}
.ss-container {
  height: var(--scorebar-height);
  width: 50px;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.ticker {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}
.blue {
  background-color: var(--blue-color);
}
.orange {
  background-color: var(--orange-color);
}
.empty {
  background-color: var(--empty-color);
}

.boost-transition {
  transform: translate(300px, 0px);
}
.stat-transition {
  transform: translate(-500px, 0px);
}
.scorebar-transition {
  transform: translate(0px, -150px);
}
